:root {
  --sl-font: 'Inter', sans-serif;
  --sl-color-accent-low: #26735a;
  --sl-color-accent: #33b88f;
  --sl-color-accent-high: #7fddc3;
  --sl-color-white: #f5fbf9;
  --sl-color-gray-1: #d0e0da;
  --sl-color-gray-2: #a1c0b6;
  --sl-color-gray-3: #668c7e;
  --sl-color-gray-4: #475f54;
  --sl-color-gray-5: #2b3935;
  --sl-color-gray-6: #18221f;
  --sl-color-black: #0b100e;
  --sl-color-bg-nav: #0b100e;
  --sl-color-bg-sidebar: #0b100e;
}

html[data-theme='light'] {
  --sl-color-accent-low: #0f523e;
  --sl-color-accent: #167a5d;
  --sl-color-accent-high: #40bf93;
  --sl-color-white: #0b100e;
  --sl-color-gray-1: #18221f;
  --sl-color-gray-2: #2b3935;
  --sl-color-gray-3: #475f54;
  --sl-color-gray-4: #668c7e;
  --sl-color-gray-5: #a1c0b6;
  --sl-color-gray-6: #d0e0da;
  --sl-color-black: #f5fbf9;
  --sl-color-bg-nav: #f5fbf9;
  --sl-color-bg-sidebar: #f5fbf9;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
}

::view-transition-new(root) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.i-icons\:drizzle {
  color: #C5F74F !important;
}

html[data-theme='light'] .i-icons\:drizzle {
  color: var(--sl-color-white) !important;
}

a[aria-current="page"]>.i-icons\:drizzle {
  color: var(--sl-color-text-invert) !important;
}
